<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
			<add key="github" value="https://nuget.pkg.github.org/LUMOTradeService/index.json"/> 
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="UserName" value="LUMOL0ki"/>
			<add key="ClearTextPassword" value="df54e19efc22c105c69a50e04e3da6015ffa769d"/>
		</github>
	</packageSourceCredentials>
</configuration>